body{
margin:"0";
font-family:"Arial,sans-serif";
}
.sidenav{
background-color:"green";
width:"160px";
height:"160vh";
position:"fixed";
top:"0";
left:"0";
padding-top:"20px";
}
.sidenav a{
display:"block";
color:"white";
padding-top:"6px";
padding-left:"16px";
padding-right:"8px";
padding-bottom:"6px";
font-weight:"bold";
text-decoration:"none";
}
.sidenav a:hover{
color:"red";
}

.main {
height:"90vh";
margin-top:"20px";
margin-right:"10px";
margin-left:"210px";
padding:"20px";            
border:"2px solid black";
}
.main h1 {
font-size:"28px";
font-weight:"bold";
}
.content p {
font-size:"16px";
text-align:"justify";
}
